html {
  background-color: #000000;
}

body {
  font-family: cantiga, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $color-black;
  font-size: calc(64px + 0.8vmin);
  overflow: hidden;
  @media screen and (max-width: $breakpoint) {
    font-size: 7vmin;
  }
}

.wf-inactive, .wf-loading {
  visibility: hidden;
}
