html {
  background-color: #000000;
}

body {
  font-family: cantiga, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $color-black;
  font-size: 2.9vw;
  overflow: hidden;
}

.wf-inactive, .wf-loading {
  visibility: hidden;
}
